:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);

  color: var(--dark-grayish-blue);
  background: #fff url(./assets/images/bg-tablet-pattern.svg) no-repeat right
    top;

  font-family: 'Be Vietnam Pro', sans-serif;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  /* outline: 1px solid red; */
}

body {
  min-height: 100vh;
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
}

body:has(:checked) {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-header {
  padding: 2.5em 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left.logo {
  text-decoration: none;
  color: inherit;
  max-width: 120px;
}

.header__left.logo img {
  display: block;
  max-width: 100%;
}

[for='menu-toggle'] {
  width: 1.5em;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  position: relative;
}

[for='menu-toggle']:not(:has(:checked)) + .nav-list {
  display: none;
}

[for='menu-toggle']:has(:checked) + .nav-list {
  display: initial;
}

.nav_wrapper input[type='checkbox'] {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

.nav_wrapper input[type='checkbox']:not(:checked) ~ [alt='nav close icon'] {
  display: none;
}

.nav_wrapper input[type='checkbox']:checked ~ [alt='nav open icon'] {
  display: none;
}

.nav-list {
  list-style-type: none;
  padding: 2em;
  margin: 1.25em;
  position: fixed;
  z-index: 99;
  inset: 5.3em 0 auto 0;
  border-radius: 10px;
  color: var(--dark-blue);
  background-color: #fff;
  text-align: center;
}

body:has(:checked) [for='menu-toggle'] {
  z-index: 99;
}

body:has(:checked)::before {
  content: '';
  position: absolute;
  z-index: 90;
  inset: 0;
  background-image: linear-gradient(#00000000, #00000066);
  background-repeat: no-repeat;
}

.nav-list li {
  margin: 1em 0;
}

.main-header.get-started__link {
  display: none;
  visibility: hidden;
}

.nav-list li a[href] {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

main {
  padding: 0 1.25em;
  text-align: center;
  overflow-x: hidden;
}

img[alt='intro illustration'] {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
  font-weight: 700;
}

h1 {
  font-size: 2.25em;
}

h1 + p {
  margin: 0.25em 0;
}

.get-started__link {
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background-color: var(--bright-red);
  padding: 1em 2.625em 0.875em 2.625em;
  margin-top: 2.625em;
  border-radius: 2.625em;
}

main section {
  padding: 1.25em 0;
}

main section:nth-child(2) h2 {
  font-size: 1.875em;
}

main section:nth-child(2) h2 + p {
  margin: 1.125em 0;
}

main section:nth-child(2) ul {
  list-style-type: none;
  margin: 3em 0;
  text-align: initial;
}

main section:nth-child(2) ul li:not(:last-child) {
  margin-bottom: 3em;
}

main section:nth-child(2) ul li h3 {
  width: calc(100% + 1.25em);
  padding: 0.7em 0 0.4em;
  position: relative;
  overflow: hidden;
  font-size: 0.9375em;
  background-color: var(--very-pale-red);
  border-radius: 1.3em 0 0 1.3em;
  padding-left: 5.375em;
}

main section:nth-child(2) ul li h3::before {
  content: '01';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: var(--bright-red);
  padding: 0.45em 1.625em 0.375em;
  border-radius: 1.625em;
  display: grid;
  place-items: center;
}

main section:nth-child(2) ul li:not(:first-child, :last-child) h3::before {
  content: '02';
}

main section:nth-child(2) ul li:last-child h3::before {
  content: '03';
}

main section:nth-child(2) ul li p {
  font-size: 0.8625em;
  margin: 1em 0;
}

main section:nth-child(3) h2 {
  font-size: 1.8em;
  margin-bottom: 3em;
}

main section:nth-child(3) ul {
  list-style-type: none;
  display: flex;
  gap: 1.25em;
  padding-top: 2.5em;
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.36, 0.45, 0.63, 1.4);
  /* overflow: hidden; */
}

main section:nth-child(3) ul li:not(:nth-child(2)) {
  /* display: none; */
  /* visibility: hidden; */
}

main section:nth-child(3) ul li {
  display: inline-block;
  min-width: 100%;
  /* white-space: nowrap; */
  background-color: var(--very-light-gray);
  padding: 3.75em 1.5em 3em;
  position: relative;
  isolation: isolate;
}

main section:nth-child(3) ul li img {
  margin-inline: auto;
  inset: 0;
  max-width: 76px;
  position: absolute;
  transform: translateY(-50%);
}

main section:nth-child(3) ul li h3 {
  margin-bottom: 1em;
}

main section:nth-child(3) ul li p {
  font-size: 0.875em;
}

main section:nth-child(3) > div {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

main section:nth-child(3) > div button {
  border: 0;
  border-radius: 50%;

  width: 0.625em;
  aspect-ratio: 1 / 1;
  background-color: var(--bright-red);
  position: relative;
  isolation: isolate;
}

main section:nth-child(3) > div button::after {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background-color: var(--data-clr);
}

main section:nth-child(3) .get-started__link {
  margin-top: 1em;
}

main section:nth-child(4) {
  padding: 4em 0;
  background-color: var(--bright-red);
  box-shadow: 0 0 0 100vmax var(--bright-red);
  clip-path: inset(0 -100vmax);
}

main section:nth-child(4) h2 {
  color: #fff;
  font-size: 2.375em;
}

main section:nth-child(4) .get-started__link {
  color: var(--bright-red);
  background-color: #fff;
}

footer {
  font-size: 0.9375em;
  padding: 3.33333em 1.33333em 2.66666em;
  color: #fff;
  background-color: var(--very-dark-blue);
  text-align: center;
  line-height: 1;
}

footer form {
  display: flex;
  align-items: center;
  font-size: 0.93333em;
}

footer form input[type='text'] {
  width: 100%;
  border: 0;
  border-radius: 1.5em;
  padding: 1em 1.5em 0.8em;
}

footer form button[type='submit'] {
  text-transform: uppercase;
  color: #fff;
  background-color: var(--bright-red);
  border: 0;
  border-radius: 1.8em;
  padding: 1em 1.8em;
  margin-left: 0.625em;
  display: flex;
  align-items: center;
}

footer ul {
  list-style-type: none;
  width: 75%;
  margin: 3em auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25em 3em;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

footer div img {
  width: 36px;
}

footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

footer a img {
  margin: 3em 0;
}

footer p {
  font-size: 0.8em;
  color: var(--dark-grayish-blue);
}

@media only screen and (min-width: 1024px) {
  [for='menu-toggle'] {
    display: none;
    visibility: none;
  }

  .nav-list {
    display: flex !important;
    gap: 2em;
    position: initial;
    background-color: initial;
    margin: 0;
    padding: 0;
  }

  .main-header .get-started__link {
    display: initial;
    visibility: visible;
    margin: 0;
  }

  main section,
  footer {
    display: flex;
  }

  main section:first-child {
    text-align: initial;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
  }

  main section:first-child div {
    max-width: 45%;
  }

  main section:first-child div h1 {
    font-size: 3.5em;
  }

  main section:first-child div p {
    max-width: 62.5%;
  }

  main section:nth-child(2) {
    align-items: flex-start;
    justify-content: space-between;
    text-align: initial;
  }

  main section:nth-child(2) div {
    max-width: 38%;
  }

  main section:nth-child(2) div p {
    max-width: 70%;
  }

  main section:nth-child(2) ul {
    margin: 0;
    max-width: 37.625%;
  }

  main section:nth-child(2) ul li h3 {
    background-color: initial;
  }

  main section:nth-child(2) ul li p {
    padding-left: 5.8em;
  }

  main section:nth-child(3) {
    display: initial;
  }

  main section:nth-child(3) ul {
    overflow-x: auto;
  }

  main section:nth-child(3) ul li {
    min-width: 36.6%;
  }

  main section:nth-child(3) div {
    display: none;
    visibility: none;
  }

  main section:nth-child(3) .get-started__link {
    margin: 4em 0 12em;
  }

  main section:last-child {
    align-items: center;
    text-align: initial;
    justify-content: space-between;
  }

  main section:last-child h2 {
    max-width: 40%;
  }

  main section:last-child .get-started__link {
    margin: 0;
  }
}
